.section {
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  width: 100vw;
  height: 100vh;
}

.div-block {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.background-video {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.overlay.color.stamurai {
  z-index: 25;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cc7d6b), to(#000));
  background-image: linear-gradient(0deg, #cc7d6b, #000);
}

.overlay2 {
  position: absolute;
  z-index: 30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(#000));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), #000);
}

.overlay2.stamurai {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c0b5), to(#f0c0b5));
  background-image: linear-gradient(180deg, #f0c0b5, #f0c0b5);
  opacity: 0.4;
}

.projects {
  position: relative;
  width: 100vw;
  padding: 13.85vh 2.6vw;
  background-color: #ededed;
}

.menu-title {
  display: inline;
  margin-left: 0vw;
  color: #ededed;
  font-size: 1vw;
  letter-spacing: 0vw;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
}

.link-block-2 {
  margin-left: 1.35vw;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.title-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu-item {
  position: relative;
  display: inline;
  margin-left: 0vw;
  color: #ededed;
  font-size: 1.145vw;
  letter-spacing: -0.057vw;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-item.data1 {
  -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
  transition: text-indent 200ms ease, letter-spacing 200ms ease;
  color: #fff;
  font-size: 1vw;
  letter-spacing: 0vw;
}

.menu-item.data1:hover {
  font-style: italic;
  letter-spacing: 0.15vw;
}

.menu-item.data2 {
  -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
  transition: text-indent 200ms ease, letter-spacing 200ms ease;
  color: #fff;
  font-size: 1vw;
  letter-spacing: 0vw;
}

.menu-item.data2:hover {
  font-style: italic;
  letter-spacing: 0.15vw;
}

.menu-bar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 150;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 5.5vh;
  padding-right: 2.6vw;
  padding-left: 2.6vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  opacity: 0.75;
}

.body {
  font-family: Helveticaneue, sans-serif;
  font-size: 15px;
  line-height: 1;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 40;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 94.8vw;
  margin-right: 2.6vw;
  margin-left: 2.6vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-block {
  display: block;
  color: #fff;
  font-size: 6.5vw;
  letter-spacing: -0.1625vw;
}

.text-block.black {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #131313;
  line-height: 0.9;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 84.375vw;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-block-2 {
  margin-top: 1.9vh;
  margin-bottom: 1.9vh;
  color: #fff;
  font-size: 1.8vw;
  letter-spacing: -0.054vw;
  text-transform: uppercase;
}

.text-block-2.black {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: letter-spacing 200ms ease, text-indent 200ms ease;
  transition: letter-spacing 200ms ease, text-indent 200ms ease;
  color: #131313;
}

.text-block-2.black:hover {
  font-style: italic;
  letter-spacing: 0.05vw;
}

.text-block-2.black.section-index {
  margin-top: 0vh;
}

.text-block-2.black.section-index:hover {
  font-style: normal;
  letter-spacing: -0.054vw;
}

.text-block-2.black.other-works:hover {
  font-style: normal;
  letter-spacing: -0.054vw;
}

.text-block-2.portfolio-heading {
  margin-bottom: 0vh;
}

.text-block-2.portfolio-heading.mobile {
  display: none;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 84.375vw;
  height: 100%;
  margin-top: 1.45vh;
  margin-bottom: 4.6vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.text-block-3 {
  width: 44vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.145vw;
  letter-spacing: -0.05725vw;
}

.text-block-4 {
  margin-left: 6.75vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.145vw;
  letter-spacing: -0.05725vw;
}

.div-block-7 {
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  width: 20vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.145vw;
  text-align: right;
  letter-spacing: -0.05725vw;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 4.6vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 13.5vh;
  height: 13.5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
}

.text-block-6 {
  color: #fff;
  font-size: 1.145vw;
  text-align: center;
  letter-spacing: 0vw;
  text-transform: uppercase;
}

.div-block-13 {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
  background-color: #fff;
}

.hr2 {
  width: 100%;
  height: 1px;
  margin-bottom: 4.65vh;
  background-color: #fff;
}

.hr1 {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
  background-color: #fff;
}

.hr1.black {
  background-color: #131313;
}

.text-block-7 {
  width: 44.85vw;
  margin-top: 2.75vh;
  margin-bottom: 2.75vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.11vw;
  letter-spacing: -0.055vw;
}

.text-block-7.black {
  color: #131313;
}

.text-block-7.black.testimonial-content {
  width: 42.825vw;
  margin-top: 0vh;
  font-size: 1vw;
  letter-spacing: -0.05vw;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.location {
  margin-top: 2.75vh;
  margin-bottom: 2.75vh;
  margin-left: 6.75vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.12vw;
  letter-spacing: -0.055vw;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.one-liner {
  width: 20vw;
  margin-top: 2.75vh;
  margin-bottom: 2.75vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.12vw;
  text-align: right;
  letter-spacing: -0.055vw;
}

.scroll-down {
  margin-top: 2.75vh;
  margin-bottom: 2.75vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #ededed;
  font-size: 1.12vw;
  text-align: center;
  letter-spacing: -0.055vw;
  text-transform: uppercase;
}

.div-block-16 {
  width: 7.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  text-decoration: none;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.6vh;
}

.project-desc {
  display: block;
  margin-bottom: 3vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #131313;
  font-size: 1.12vw;
  letter-spacing: -0.055vw;
  text-transform: uppercase;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-desc2 {
  display: block;
  margin-bottom: 0vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #131313;
  font-size: 1vw;
  letter-spacing: -0.04vw;
}

.project-desc2.caps {
  text-transform: uppercase;
}

.project-desc2.awards {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  font-size: 1vw;
  letter-spacing: -0.04vw;
}

.project-desc2.awards.caps {
  text-align: right;
  text-transform: uppercase;
}

.project-desc2.testimonial {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.project-desc2.testimonial.caps {
  margin-bottom: 0vh;
  text-align: right;
  text-transform: uppercase;
}

.project-desc2.testimonial-2 {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.project-desc2.testimonial-2.caps {
  margin-top: 0.5vh;
  -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
  transition: text-indent 200ms ease, letter-spacing 200ms ease;
  text-align: right;
  text-transform: uppercase;
}

.project-desc2.testimonial-2.caps.contact-link:hover {
  font-style: italic;
  letter-spacing: 0.05vw;
}

.project-desc2.testimonial-2.caps.contact-link.no-hover:hover {
  font-style: normal;
  letter-spacing: -0.04vw;
}

.project-desc2.view-cs-2 {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.project-desc2.view-cs-2.caps {
  margin-top: 0.5vh;
  -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
  transition: text-indent 200ms ease, letter-spacing 200ms ease;
  text-align: right;
  text-transform: uppercase;
}

.project-desc2.view-cs-2.caps:hover {
  font-style: italic;
  letter-spacing: 0.05vw;
}

.project-desc2.fcs-name {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.project-desc2.fcs-name.caps {
  text-align: right;
  text-transform: uppercase;
}

.project-desc2.cs-body {
  font-size: 1vw;
  letter-spacing: -0.04vw;
}

.project-desc2.cs-body.list-body {
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}

.project-desc2.cs-body.list-inner-body {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 0vw;
}

.project-desc2.cs-body2 {
  margin-top: 2vh;
}

.project-desc2.cs-body3 {
  margin-top: 1vh;
  margin-bottom: 1.5vh;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5.2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88.39vw;
  text-decoration: none;
}

.project-timeline {
  margin-top: 1.9vh;
  margin-bottom: 1.9vh;
  color: #fff;
  font-size: 1.8vw;
  letter-spacing: -0.054vw;
  text-transform: uppercase;
}

.project-timeline.black {
  color: #131313;
  text-align: right;
}

.div-block-24 {
  width: 100%;
}

.div-block-25 {
  width: 46.875vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.div-block-26 {
  width: 20vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.project-type {
  margin-top: 1.9vh;
  margin-bottom: 1.9vh;
  color: #fff;
  font-size: 1.8vw;
  letter-spacing: -0.054vw;
  text-transform: uppercase;
}

.project-type.black {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.6;
  color: #131313;
}

.hr1-copy {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
  background-color: #fff;
}

.hr1-copy.black {
  background-color: #131313;
}

.hr3 {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
  background-color: #fff;
}

.hr3.black {
  width: 88.39vw;
  margin-top: 0vh;
  background-color: #131313;
}

.hr3.black.awards {
  width: 26vw;
}

.hr3.black.awards-copy {
  width: 26vw;
}

.hr3.black.testimonial {
  width: 100%;
}

.hr4 {
  width: 100%;
  height: 1px;
  margin-top: 2vh;
  background-color: #fff;
}

.hr4.black {
  width: 88.39vw;
  margin-top: 2.5vh;
  background-color: #131313;
}

.hr4.black.awards {
  width: 26vw;
}

.hr4.black.testimonial {
  width: 100%;
}

.hr4.black.cs-links {
  width: 26vw;
  margin-top: 0vh;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 26vw;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.awards-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 26vw;
}

.awards-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-29 {
  margin-left: 5.2vw;
}

.featured-cs {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 6.925vh 2.6vw;
  background-color: #ededed;
}

.awards-recognitions {
  position: relative;
  width: 100vw;
  padding: 13.85vh 2.6vw;
  background-color: #ededed;
}

.testimonial-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.testimonial-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
}

.div-block-30 {
  margin-left: 2.75vw;
}

.testimonial-div-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.testimonials {
  position: relative;
  width: 100vw;
  padding: 6.925vh 2.6vw 13.85vh;
  background-color: #ededed;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}

.f-cs {
  width: 42.825vw;
}

.div-block-32 {
  width: 42.825vw;
  height: 40vh;
  background-color: #000;
}

.div-block-32.scale-in-hor-left {
  background-color: #000;
}

.background-video-2 {
  position: absolute;
  z-index: 10;
  width: 42.825vw;
  height: 40vh;
  opacity: 0.6;
}

.background-video-2.scale-in-hor-left {
  opacity: 0.6;
}

.overlay-f-cs {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.overlay-f-cs.color {
  width: 42.825vw;
  height: 40vh;
}

.f-cs-details {
  margin-top: 2.75vh;
}

.f-cs-2 {
  width: 42.825vw;
  margin-left: 2.75vw;
}

.background-video-3 {
  position: absolute;
  z-index: 10;
  width: 42.825vw;
  height: 40vh;
  opacity: 0.45;
}

.contact {
  position: relative;
  width: 100vw;
  padding: 6.925vh 2.6vw 113.85vh;
  background-color: #ededed;
}

.contact.stamurai {
  background-color: #f0e9e1;
}

.social-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contact-div {
  width: 42.825vw;
  margin-left: 2.75vw;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.cursor-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-container {
  overflow: hidden;
  width: 15vw;
  height: 15vh;
  background-color: #292929;
}

.stamurai-cs {
  width: 15vw;
  height: 15vh;
}

.div-block-35 {
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: #000;
}

.background-video-4 {
  position: absolute;
  z-index: 110;
  width: 15vw;
  height: 15vh;
}

.cs-overlay {
  position: absolute;
  width: 15vw;
  height: 15vh;
  background-color: #000;
}

.cs-overlay.color {
  z-index: 120;
}

.cs-hover-bg {
  position: relative;
  width: 100%;
  height: 15vh;
  background-color: #000;
}

.cs-hover-video {
  position: absolute;
  z-index: 110;
  width: 15vw;
  height: 15vh;
  opacity: 0.7;
}

.insanedeals-cs {
  width: 15vw;
  height: 15vh;
}

.fathom-cs {
  width: 15vw;
  height: 15vh;
}

.mausumi-cs {
  width: 15vw;
  height: 15vh;
}

.buzzoms-cs {
  width: 15vw;
  height: 15vh;
}

.kerala-cs {
  width: 15vw;
  height: 15vh;
}

.cs-page {
  position: relative;
  width: 100vw;
  padding: 13.85vh 2.6vw;
  background-color: #f0e9e1;
}

.next-cs {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 6.925vh 2.6vw;
  background-color: #f0e9e1;
}

.div-block-36 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88.39vw;
  margin-top: 13vh;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-37 {
  width: 31.25vw;
  margin-right: 11.64vw;
  margin-left: 9.5vw;
}

.div-block-38 {
  position: -webkit-sticky;
  position: sticky;
  top: 13vh;
  width: 26vw;
}

.div-block-39 {
  position: -webkit-sticky;
  position: sticky;
  top: 13vh;
  width: 10vw;
}

.cs-desc-title {
  display: block;
  margin-bottom: 3vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #131313;
  font-size: 1.12vw;
  letter-spacing: -0.055vw;
  text-transform: uppercase;
}

.cs-details-body-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title-contents {
  display: block;
  margin-bottom: 0.5vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #131313;
  font-size: 1vw;
  letter-spacing: -0.04vw;
}

.title-contents.caps {
  text-transform: uppercase;
}

.title-contents.awards {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.title-contents.awards.caps {
  text-align: right;
  text-transform: uppercase;
}

.title-contents.testimonial {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.title-contents.testimonial.caps {
  margin-bottom: 0vh;
  text-align: right;
  text-transform: uppercase;
}

.title-contents.testimonial-2 {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.title-contents.testimonial-2.caps {
  margin-top: 0.5vh;
  -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
  transition: text-indent 200ms ease, letter-spacing 200ms ease;
  text-align: right;
  text-transform: uppercase;
}

.title-contents.testimonial-2.caps.contact-link:hover {
  font-style: italic;
  letter-spacing: 0.05vw;
}

.title-contents.testimonial-2.caps.contact-link.no-hover:hover {
  font-style: normal;
  letter-spacing: -0.055vw;
}

.title-contents.view-cs-2 {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.title-contents.view-cs-2.caps {
  margin-top: 0.5vh;
  -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
  transition: text-indent 200ms ease, letter-spacing 200ms ease;
  text-align: right;
  text-transform: uppercase;
}

.title-contents.view-cs-2.caps:hover {
  font-style: italic;
  letter-spacing: 0.05vw;
}

.title-contents.fcs-name {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.title-contents.fcs-name.caps {
  text-align: right;
  text-transform: uppercase;
}

.title-contents.indent {
  margin-top: 1vh;
  padding-left: 1.5vw;
  opacity: 0.6;
}

.title-contents.indent2 {
  margin-top: 0.5vh;
  padding-left: 1.5vw;
  opacity: 0.6;
}

.title-contents.indent3 {
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  padding-left: 1.5vw;
  opacity: 0.6;
}

.image {
  margin-top: 2.5vh;
}

.list {
  margin-top: 2vh;
  padding-left: 2.5vw;
  list-style-type: disc;
}

.list-item {
  margin-bottom: 0.5vh;
}

.list-item.extra-content {
  margin-top: 2vh;
}

.text-span-5 {
  font-style: italic;
}

.text-span-6 {
  font-style: italic;
}

.text-span-7 {
  font-style: italic;
}

.text-span-8 {
  border-bottom: 1px solid #131313;
  line-height: 1.2;
}

.image-t2 {
  margin-top: 2.5vh;
}

.image-t2.zoom {
  margin-top: 0vh;
  margin-bottom: 1.5vh;
}

.background-video-5 {
  z-index: 10;
  height: 35vh;
  margin-top: 1.5vh;
}

.list-2 {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1vw;
  padding-left: 1vw;
  list-style-type: square;
}

@media screen and (min-width: 1920px) {
  .text-block.black {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    line-height: 0.9;
  }

  .text-block-2.black {
    -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
    transition: text-indent 200ms ease, letter-spacing 200ms ease;
  }

  .text-block-2.black:hover {
    font-style: italic;
    letter-spacing: 0.05vw;
  }

  .text-block-2.black.section-index:hover {
    font-style: normal;
    letter-spacing: -0.054vw;
  }

  .text-block-2.black.other-works:hover {
    font-style: normal;
    letter-spacing: -0.054vw;
  }

  .text-block-7 {
    width: 44.85vw;
    font-size: 1.12vw;
    letter-spacing: -0.055vw;
  }

  .project-desc2.testimonial-2.caps {
    -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
    transition: text-indent 200ms ease, letter-spacing 200ms ease;
  }

  .project-desc2.testimonial-2.caps:hover {
    font-style: italic;
    letter-spacing: 0.05vw;
  }

  .project-desc2.view-cs-2.caps {
    -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
    transition: text-indent 200ms ease, letter-spacing 200ms ease;
  }

  .project-desc2.view-cs-2.caps:hover {
    font-style: italic;
    letter-spacing: 0.05vw;
  }

  .featured-cs {
    position: relative;
    height: auto;
    padding: 6.925vh 2.6vw;
  }

  .div-block-30 {
    margin-left: 2.75vw;
  }

  .div-block-31 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10vh;
  }

  .background-video-2 {
    opacity: 0.6;
  }

  .overlay-f-cs {
    width: 44.85vw;
    height: 44.25vh;
  }

  .f-cs-details {
    margin-top: 2.75vh;
  }

  .f-cs-2 {
    margin-left: 2.75vw;
  }

  .background-video-3 {
    opacity: 0.45;
  }

  .social-div {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .contact-div {
    margin-left: 2.75vw;
  }

  .img-container {
    height: 17vh;
  }

  .stamurai-cs {
    height: 17vh;
  }

  .cs-overlay.color {
    height: 17vh;
  }

  .cs-hover-bg {
    height: 17vh;
  }

  .cs-hover-video {
    height: 17vh;
  }

  .insanedeals-cs {
    height: 17vh;
  }

  .fathom-cs {
    height: 17vh;
  }

  .mausumi-cs {
    height: 17vh;
  }

  .buzzoms-cs {
    height: 17vh;
  }

  .kerala-cs {
    height: 17vh;
  }

  .next-cs {
    position: relative;
    height: auto;
    padding: 6.925vh 2.6vw;
  }

  .title-contents.testimonial-2.caps {
    -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
    transition: text-indent 200ms ease, letter-spacing 200ms ease;
  }

  .title-contents.testimonial-2.caps:hover {
    font-style: italic;
    letter-spacing: 0.05vw;
  }

  .title-contents.view-cs-2.caps {
    -webkit-transition: text-indent 200ms ease, letter-spacing 200ms ease;
    transition: text-indent 200ms ease, letter-spacing 200ms ease;
  }

  .title-contents.view-cs-2.caps:hover {
    font-style: italic;
    letter-spacing: 0.05vw;
  }
}

@media screen and (max-width: 991px) {
  .projects {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .menu-title {
    font-size: 1.75vw;
    letter-spacing: -0.0875vw;
  }

  .menu-item {
    margin-left: 2vw;
    font-size: 2vw;
  }

  .menu-item.data1 {
    font-size: 1.75vw;
    letter-spacing: -0.0875vw;
  }

  .menu-item.data1:hover {
    letter-spacing: 0.25vw;
  }

  .menu-item.data2 {
    font-size: 1.75vw;
    letter-spacing: -0.0875vw;
  }

  .menu-item.data2:hover {
    letter-spacing: 0vw;
  }

  .menu-bar {
    padding-top: 5vh;
    padding-right: 2.6vw;
    padding-left: 2.6vw;
  }

  .div-block-2 {
    width: 94.8vw;
  }

  .text-block {
    font-size: 7.5vw;
    letter-spacing: -0.1875vw;
  }

  .div-block-3 {
    width: 94.8vw;
  }

  .text-block-2.black {
    font-size: 2.25vw;
  }

  .text-block-2.black:hover {
    letter-spacing: 0.085vw;
  }

  .text-block-2.portfolio-heading {
    font-size: 2.25vw;
    letter-spacing: -0.1125vw;
  }

  .div-block-11 {
    display: none;
  }

  .text-block-7 {
    width: 60vw;
    font-size: 1.85vw;
    letter-spacing: -0.0925vw;
  }

  .text-block-7.black.testimonial-content {
    width: 81vw;
  }

  .text-block-7.black.testimonial-content.contact-detail {
    width: 38vw;
  }

  .location {
    display: none;
    margin-left: 4.5vw;
    font-size: 1.85vw;
    letter-spacing: -0.0925vw;
  }

  .one-liner {
    width: 30vw;
    font-size: 1.85vw;
    letter-spacing: -0.0925vw;
  }

  .project-desc {
    margin-bottom: 2vh;
    font-size: 1.75vw;
    letter-spacing: -0.0875vw;
  }

  .project-desc2 {
    font-size: 1.85vw;
    letter-spacing: -0.0925vw;
  }

  .project-desc2.awards {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .project-desc2.testimonial.caps {
    margin-top: 1vh;
  }

  .project-desc2.testimonial-2.caps.contact-link {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
  }

  .project-line {
    width: 81vw;
  }

  .project-timeline.black {
    font-size: 2.25vw;
  }

  .div-block-25 {
    width: 35vw;
  }

  .div-block-26 {
    width: 22vw;
  }

  .project-type.black {
    font-size: 2.25vw;
  }

  .hr3.black {
    width: 81vw;
  }

  .hr3.black.awards {
    width: 38vw;
  }

  .hr3.black.awards.extra {
    display: block;
  }

  .hr3.black.awards.not-extra {
    display: block;
  }

  .hr3.black.awards.extra2 {
    display: none;
  }

  .hr3.black.testimonial {
    margin-bottom: 4vh;
  }

  .hr3.black.testimonial.last {
    margin-bottom: 0vh;
  }

  .hr3.black.testimonial.contact-line {
    margin-bottom: 0vh;
  }

  .hr3.black.testimonial.resume-start-line {
    margin-bottom: 2vh;
  }

  .hr4.black {
    width: 81vw;
    margin-top: 0vh;
  }

  .hr4.black.awards {
    width: 38vw;
  }

  .hr4.black.cs-links {
    width: 38vw;
  }

  .awards-line {
    width: 38vw;
  }

  .div-block-29 {
    margin-left: 5vw;
  }

  .featured-cs {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .awards-recognitions {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .div-block-30 {
    margin-left: 0vw;
  }

  .testimonial-div-2 {
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .testimonials {
    padding-top: 5vh;
    padding-bottom: 6vh;
  }

  .div-block-31 {
    margin-top: 6.5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .f-cs {
    width: 81vw;
  }

  .div-block-32 {
    width: 81vw;
    height: 37.5vh;
  }

  .background-video-2 {
    width: 81vw;
    height: 37.5vh;
  }

  .overlay-f-cs.color {
    width: 81vw;
    height: 37.5vh;
  }

  .f-cs-2 {
    width: 81vw;
    margin-left: 0vw;
  }

  .background-video-3 {
    width: 81vw;
    height: 37.5vh;
  }

  .contact {
    padding-top: 5vh;
    padding-bottom: 110vh;
  }

  .social-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .div-block-33 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block-34 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cs-page {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .next-cs {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .div-block-36 {
    width: 81vw;
    margin-top: 8vh;
  }

  .div-block-37 {
    width: 38vw;
    margin-right: 5vw;
    margin-left: 0vw;
  }

  .div-block-38 {
    top: 15vh;
    width: 38vw;
  }

  .div-block-39 {
    display: none;
  }

  .cs-desc-title {
    margin-bottom: 2vh;
    font-size: 1.75vw;
    letter-spacing: -0.0875vw;
  }

  .cs-details-body-element {
    margin-top: 5vh;
  }

  .title-contents {
    font-size: 1.85vw;
    letter-spacing: -0.0925vw;
  }

  .title-contents.awards {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .title-contents.testimonial.caps {
    margin-top: 1vh;
  }

  .title-contents.testimonial-2.caps.contact-link {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
  }

  .background-video-5 {
    height: 22vh;
  }
}

@media screen and (max-width: 479px) {
  .projects {
    padding-right: 5.25vw;
    padding-bottom: 7.5vh;
    padding-left: 5.25vw;
  }

  .menu-title {
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .menu-item {
    margin-left: 3.5vw;
    font-size: 3.75vw;
  }

  .menu-item.data1 {
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .menu-item.data2 {
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .menu-bar {
    padding-right: 5.25vw;
    padding-left: 5.25vw;
    opacity: 0.85;
  }

  .div-block-2 {
    width: 89.5vw;
    margin-right: 5.25vw;
    margin-left: 5.25vw;
  }

  .text-block {
    font-size: 10.5vw;
    letter-spacing: -0.2526vw;
  }

  .div-block-3 {
    width: 89.5vw;
  }

  .text-block-2.black {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .text-block-2.black.section-index {
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .text-block-2.portfolio-heading {
    display: none;
  }

  .text-block-2.portfolio-heading.mobile {
    display: block;
    margin-bottom: 1vh;
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .hr1 {
    margin-top: 3vh;
  }

  .text-block-7 {
    width: 100%;
    font-size: 4vw;
    letter-spacing: -0.2vw;
  }

  .text-block-7.black.testimonial-content {
    width: 89.5vw;
    font-size: 3.75vw;
  }

  .text-block-7.black.testimonial-content.contact-detail {
    width: 89.5vw;
  }

  .div-block-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-15 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .one-liner {
    width: 100%;
    margin-top: 0vh;
    font-size: 4vw;
    text-align: left;
    letter-spacing: -0.2vw;
  }

  .project-desc {
    font-size: 3vw;
    letter-spacing: -0.15vw;
  }

  .project-desc2 {
    font-size: 3vw;
    letter-spacing: -0.15vw;
  }

  .project-desc2.awards {
    font-size: 3.75vw;
  }

  .project-desc2.testimonial.caps {
    font-size: 3.75vw;
  }

  .project-desc2.testimonial-2.caps.contact-link {
    font-size: 3.75vw;
  }

  .project-desc2.view-cs-2.caps {
    margin-top: 0vh;
    font-size: 3.75vw;
  }

  .project-desc2.fcs-name {
    font-size: 3.75vw;
  }

  .project-desc2.cs-body {
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .project-desc2.cs-body2 {
    font-size: 3.75vw;
  }

  .project-desc2.cs-body3 {
    font-size: 3.75vw;
  }

  .div-block-22 {
    margin-top: 5vh;
  }

  .project-line {
    width: 100%;
  }

  .project-timeline.black {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .div-block-25 {
    width: 33vw;
  }

  .div-block-26 {
    width: 31vw;
  }

  .project-type.black {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3.75vw;
    letter-spacing: -0.1875vw;
  }

  .hr3.black {
    width: 100%;
  }

  .hr3.black.awards {
    width: 89.5vw;
  }

  .hr3.black.awards.extra {
    display: none;
  }

  .hr3.black.awards.extra2 {
    display: none;
  }

  .hr3.black.testimonial.resume-start-line {
    margin-bottom: 4vh;
  }

  .hr4.black {
    width: 100%;
  }

  .hr4.black.awards {
    width: 89.5vw;
  }

  .hr4.black.cs-links {
    width: 89.5vw;
  }

  .awards-line {
    width: 89.5vw;
  }

  .awards-div {
    margin-top: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-29 {
    margin-left: 0vw;
  }

  .featured-cs {
    padding: 2.5vh 5.25vw 7.5vh;
  }

  .awards-recognitions {
    padding: 2.5vh 5.25vw 7.5vh;
  }

  .testimonial-div {
    margin-top: 6vh;
  }

  .testimonials {
    padding: 2.5vh 5.25vw 7.5vh;
  }

  .div-block-31 {
    margin-top: 5vh;
  }

  .f-cs {
    width: 89.5vw;
  }

  .div-block-32 {
    width: 89.5vw;
    height: 24.5vh;
  }

  .background-video-2 {
    width: 89.5vw;
    height: 24.5vh;
  }

  .overlay-f-cs.color {
    width: 89.5vw;
    height: 24.5vh;
  }

  .f-cs-2 {
    width: 89.5vw;
  }

  .background-video-3 {
    width: 89.5vw;
    height: 24.5vh;
  }

  .contact {
    padding: 2.5vh 5.25vw 107.5vh;
  }

  .social-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contact-div {
    width: 89.5vw;
    margin-left: 0vw;
  }

  .text-span {
    display: none;
  }

  .text-span-2 {
    display: none;
  }

  .text-span-3 {
    display: none;
  }

  .text-span-4 {
    display: none;
  }

  .cursor-wrapper {
    display: none;
  }

  .cs-page {
    padding-right: 5.25vw;
    padding-bottom: 7.5vh;
    padding-left: 5.25vw;
  }

  .next-cs {
    padding: 2.5vh 5.25vw 7.5vh;
  }

  .div-block-36 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-37 {
    width: 100%;
  }

  .div-block-38 {
    position: static;
    margin-top: 10vh;
  }

  .cs-desc-title {
    margin-bottom: 2.5vh;
    font-size: 3.75vw;
    letter-spacing: -0.15vw;
  }

  .cs-details-body-element {
    margin-top: 6vh;
  }

  .title-contents {
    font-size: 3vw;
    letter-spacing: -0.15vw;
  }

  .title-contents.awards {
    font-size: 3.75vw;
  }

  .title-contents.testimonial.caps {
    font-size: 3.75vw;
  }

  .title-contents.testimonial-2.caps.contact-link {
    font-size: 3.75vw;
  }

  .title-contents.view-cs-2.caps {
    margin-top: 0vh;
    font-size: 3.75vw;
  }

  .title-contents.fcs-name {
    font-size: 3.75vw;
  }

  .list {
    padding-left: 7vw;
  }

  .background-video-5 {
    height: 25vh;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}