#buzzoms-preview,
#insanedeals-preview,
#keralaonroad-preview {
    background-position: right 0 bottom 10%;
}

.card-whipe,
.testimonial-gif {
    background-repeat: no-repeat;
    background-size: cover;
}

/* .card-whipe {
    background-image: url("https://druh.in/folio2022/images/preview.svg");
    background-repeat: no-repeat;
    background-size: cover;
} */

#no-whipe-img {
    background-image: none;
}


#skillsunion-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/skillsunion.webp");
}

#vtf-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/vtf.webp");
}

#mausumi-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/mausumi.webp");
}

#nowiverse-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/nowiverse.webp");
}

#vocal-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/vocalnew.webp");
}

#greenfox-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/greenfox.webp");
}

#allbodies-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/allbodies.webp");
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
}

#buzzoms-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/buzzoms.webp");
}

#fathom-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/fathom.webp");
}

#biobot-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/biobot.webp");
}

#stamurai-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/stamurai.webp");
    background-position: right 0 bottom 15%;
}

#insanedeals-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/insanedeals.webp");
}

#keralaonroad-preview {
    background-image: url("https://druh.in/folio2022/images/gifs/keralaonroad.webp");
}

.testimonial-gif {
    background-position: center center;
    background-image: url("https://druh.in/folio2022/images/gifs/testimonial.webp");
}